html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #3f0d68;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header .top-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .menu {
    background-color: #3f0d68;
    color: white;
    display: flex;
    padding: 10px 20px;
    gap: 50px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    min-height: 500px;
    overflow-x: auto;
  }
  
  .dashboard-top {
    background-color: #e0d4ec;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .dashboard-top button {
    background-color: #5e0663;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dashboard-top button:hover {
    background-color: #4a0050;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    background-color: #d3c9e6;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .dashboard-table th, .dashboard-table td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    font-size: 14px;
  }
  
  .dashboard-table th {
    background-color: #8a2be2;
    color: white;
  }
  
  .dashboard-table tr:hover {
    background-color: #f1f1f1;
  }


  * Footer */
.footer {
  background-color: #270a47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-size: 1rem;
  color: #f0f0f0;
  margin-top: auto;
}

.footer {
  background-color: #3f0d68;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
}

.footer-left{
padding-left: 10px;
font-size: 12px;
}
.footer-left a {
  color: #f8f7fb;             /* Match your theme color */
  text-decoration: none;      /* Remove underline */
}

.footer-right{
  padding-right:5px;
  font-size: 12px;
}
.footer-center {
  flex: 1;
  text-align: center;
  font-size: 12px;
}

.footer-right .icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
