html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #3f0d68;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
}

.header .top-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100px;
}

.topbar-input {
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
  border: none;
}


.menu {
  background-color: #3f0d68;
  color: white;
  display: flex;
  padding: 10px 20px;
  gap: 50px;
  width: 100%; /* Ensure the menu spans the full width */
  box-sizing: border-box;
}

.menu a {
  color: white;
  text-decoration: none;
}
  
  .inventory-section {
    padding: 20px;
    flex: 1;
  }
  
  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: left;
  }
  
  .inventory-table th {
    background-color: #8a2be2;
    color: white;
  }
  
  .inventory-table tr:hover {
    background-color: #f1f1f1;
  }
  
/* Footer */
.footer {
  background-color: #270a47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-size: 1rem;
  color: #f0f0f0;
  margin-top: auto;
}

.footer {
  background-color: #3f0d68;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  text-align: center;
}

.footer-right .icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
