* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cal Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(135deg, #3f0d68, #af489e);
    color: #040404;
}

.main-title {
    text-align: left;
    padding-left: 1.9in; 
    position: absolute;
    top: 110px;
    font-size: 30px;
    font-weight: 100;
    color: #e80dab;
    font-family: 'Playfair Display', cursive;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    padding: 40px;
}

.left-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration {
    width: 800%;
    max-width: 600px;
    border-radius: 30px;
}

.right-panel {
    flex: 1;
    max-width: 400px;
    padding: 40px 30px;
    display: flex;
    font-weight: 100;
    color: #2e0f47;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
}

.brand-name {
    font-size: 32px;
    margin-bottom: 30px;
    color: #6a5acd;
}

.right-panel h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
}

.password-wrapper {
    position: relative;
}

.toggle-visibility {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.forgot {
    text-align: right;
    font-weight: arial;
    color: #2e0f47;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.btn-login {
    background-color: #2e0f47;
    border: none;
    color: white;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #563f6d;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #aaa;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.social-icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.signup {
    text-align: center;
    font-size: 14px;
}

.signup a {
    text-decoration: none;
    color: #2609aa;
    font-weight: arial;
}

.signup a:hover {
    text-decoration: underline;
}